:root {
    --white: #fff;
    --black: #000;
    --primary: #55b5de;
    --secondary: #f6f101;
    --otro1: #7a0808;
    --primaryfont: Arial, sans-serif;
}

body {
    font-family: vat(--primaryfont);
    background-color: azure;
}

.Titulo  {
    text-align: center;
    color: var(--black);
    font-family: var(--primaryfont);
    font-weight: 700;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.button {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.shadow {
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    background-color: var(--white);
    padding: 20px;
}

.topnav {
    background-color: rgb(0, 1, 56);
    display: flex;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.primary-nav a {
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.primary-nav a:hover {
    background-color: var(--secondary);
    color: var(--black);
}

.hero {
    background-image: url(/Oscar.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    margin-bottom: 20px;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero h3 {
    color: var(--white);
    text-align: center;
}
 


.subject {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject h3{
    color: var(--primary);
    text-align: center;
    font-weight: normal;
}

.subject p {
    line-height: 2;
}

.subject .imagen1,
.subject .imagen2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subject .imagen3 {
    height: 180px;
    width: 180x;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}